$colors: (
    bg-light: white,
    bg-dark: #1c1c1c,
    text-light: #d3dbe9,
    text-dark: black,
    title-light: white,
    title-dark: black,
    subtitle: #e52628,
    button-primary: black,
    project-thumbnail: rgba(0,0,0,0),
    project-thumbnail-hovered: rgba(0,0,0,0.35),
    project-badge-game: #397edd,
    project-badge-software: #c9510c,
    project-badge-other: #a153d6
);

$backgrounds: (
    hero-header: url(../img/adam4.png) 50% 0 no-repeat fixed
);

$margins: (
    small-top: 1rem,
    section-title: 7rem
);

$animations: (
    navbar-scrolled: all .2s ease,
    project-thumbnail: all .5s ease
);


@function color($color-name) {
    @return map-get($colors, $color-name);
}

@function image($image-name) {
    @return map-get($backgrounds, $image-name);
}

@function margin($margin-name) {
    @return map-get($margins, $margin-name);
}

@function animation($animation-name) {
    @return map-get($animations, $animation-name);
}

html {
    background-color: color(bg-dark);

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    a {

        &:hover {
            text-decoration: none;
        }
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    color: color(text-light);
    background-color: color(bg-dark);
    width: 100%;
    height: 100%;

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 500;
    }

    .is-uppercase {
        text-transform: uppercase !important;
    }

    .is-spaced {
        letter-spacing: 4px;
    }

    .is-bold {
        font-weight: 700 !important;
    }
}

.btn {

    &.btn-outline-primary {
        color: color(text-dark);
        border-color: color(button-primary);
        border-radius: 1px;
        border-width: .2rem;
        font-weight: 900;
        
        &:hover {
            background-color: color(button-primary); 
            color: color(title-light);
        }
    }

    &.right {
        float: right;
    }
}

.navbar {
    transition: animation(navbar-scrolled);
    background-color: rgba(28,28,28,0.3) !important;
    padding: 1.5rem 0 1.5rem 0;

    &.scrolled {
        background-color: color(bg-dark) !important;
        padding: 0.5rem 1rem;;

        .container {
            .navbar-brand {
                img {
                    width: 38.5px;
                    height: 35.6px;
                }
            }
        }
    }

    .container {
        .navbar-brand {
            img {
                width: 50px;
                height: 46px;
                transition: animation(navbar-scrolled);
            }
        }

        .navbar-collapse {

            .navbar-nav {

                .nav-item {
                    padding: .5rem .75rem;

                    .nav-link {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.content {

    .hero {
        display: flex;
        width: 100%;

        &.header {

            .title {
                color: white;
                font-size: 9rem;
                font-weight: 900;
                line-height: 8.5rem;
                word-spacing: 100vw;
                text-shadow: 0 0 2px #000000;
            }
        }

        &.is-light {
            background-color: color(bg-light);
            color: color(text-dark);

            .title {
                color: color(text-dark);
            }
        }
        
        &.is-fullheight {
            min-height: 100vh;

            .hero-body {
                align-items: center;
                display: flex;
            }
        }

        &.is-large .hero-body{
            padding-top: 14rem;
            padding-bottom: 14rem;
        }

        &.is-medium .hero-body {
            padding-top: 9rem;
            padding-bottom: 9rem;
        }

        &.header {
            background: image(hero-header);
            background-size: cover;
        }

        .hero-body {
            flex-grow: 1;

            .section-title {
                text-align: center;
                margin-bottom: margin(section-title);
            }
        }
    }

    .title {
        color: color(title-light);
        font-weight: 900;

        .page-title {
            margin-bottom: 3rem;
        }
    }

    .subtitle {
        margin-bottom: 1.5rem;
        line-height: 1.25;

        &.page-title {
            color: color(subtitle);
            font-size: .74rem;
            font-weight: 900;
            letter-spacing: 4px;
        }
    }

    .social-badge-list {
        list-style-type: none;
        position: absolute;
        bottom: 0;
        padding: 0;
        margin: 0;
        display: flex;
        background: rgba(0,0,0,0.8);

        .social-badge {
            font-size: 2rem;
            float: left;
            margin: 0 2rem 0 2rem;
            
            a {
                color: color(text-light);
            }
            
            &.badge-github a {   
                &:hover {
                    color: #c9510c;
                }
            }
            &.badge-twitter a {   
                &:hover {
                    color: #38A1F3;
                }
            }
            &.badge-discord a {   
                &:hover {
                    color: #7289da;
                }
            }
            &.badge-mail a {   
                &:hover {
                    color: #57C470;
                }
            }
        }
    }
}

.project-col
{
    height: 450px;
    width: 100%;
    margin-bottom: 30px;

    .project {
        height: 100%;
        width: 100%;

        a {
            height: 100%;
            width: 100%;
            outline: none;
            text-decoration: none;

            .project-thumbnail {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                .project-overlay {
                    height: 100%;
                    width: 100%;
                    background: color(project-thumbnail);
                    overflow: hidden;
                    transition: animation(project-thumbnail);

                    &:hover {
                        background: color(project-thumbnail-hovered);

                        .project-info {
                            color: white;
                        }
                    }

                    .project-badge-wrapper {
                        width: fit-content;
                        filter: drop-shadow(5px 5px 10px rgba(0,0,0,1));
        
                        .project-badge {
                            
                            position: relative;
                            clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
                            text-shadow: 0 0 2px black;
                            color: white;
                            text-align: left;
                            margin: 0;
        
                            &.type-game {
                                background-color: color(project-badge-game);
                            }
        
                            &.type-software {
                                background-color: color(project-badge-software);
                            }

                            &.type-other {
                                background-color: color(project-badge-other);
                            }
        
                            .project-badge-name {
                                margin: 0 2rem 0 .5rem;
                            }
                        }
                    }

                    .project-info {
                        position: absolute;
                        bottom: 0;
                        color: rgba(0,0,0,0);
                        margin: 0 1rem;
                        transition: animation(project-thumbnail);
                    }
                }
            }
        }
    }
}

.developer-card {
    height: 400px;
    width: 100%;
    background: rgba(0,0,0,0.35);
    color: color(text-dark);

    a {
        height: 100%;
        width: 100%;
        outline: none;
        text-decoration: none;

        .developer-thumbnail {
            height: 60%;
            width: 100%;
            background: url(../img/avatar.png);
            background-size: cover;
        }
    }

    .developer-info {
        text-align: center;
        background: white;

        .developer-social {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                font-size: 2rem;
                margin: 0 .5rem 0 .5rem;

                a {
                    color: color(text-dark);
                }
            }
        }
    }
}


.post {
    width: 100%;
    height: 350px;
    margin-bottom: 1.5rem;

    &.post-latest {
        a {
            .post-thumbnail {
                .post-overlay {
                    .post-info-wrapper {
                        width: 100%;
                        height: 100%;
                        align-items: center;

                        .post-info {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    a {
        width: 100%;
        height: 100%;
        color: color(title-light);

        &:hover {
            
            .post-thumbnail {

                .post-overlay {
                    background: rgba(0,0,0,0);
                }
            }
        }

        .post-thumbnail {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: 50% 20%;
            transition: animation(project-thumbnail);

            .post-overlay {
                width: 100%;
                height: 100%;
                display: flex;
                background: rgba(0,0,0,0.2);
                transition: animation(project-thumbnail);

                .post-info-wrapper {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    margin-bottom: 1.5rem;
                    margin-left: 1rem;
                
                    .post-info {
                        width: 100%;
                        text-align: left;
                        text-shadow: 0 0 2px #000000;
                        
                        .post-details {
                            list-style: none;
                            padding: 0;
                
                            li {
                                display: inline-block;
                                font-size: 1rem;
                                margin: 0 .5rem 0 .5rem;
                
                                a {
                                    color: color(text-dark);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content-badge-wrapper {
    width: fit-content;
    height: fit-content;
    position: absolute;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);

    .content-badge {
        position: relative;
        font-size: 1rem;
        font-weight: 700;
        //clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
        text-shadow: 0 0 5px black;
        color: white;
        text-align: left;
        margin: 0;

        &.type-game {
            background-color: color(project-badge-game);
        }

        &.type-software {
            background-color: color(project-badge-software);
        }

        &.type-other {
            background-color: color(project-badge-other);
        }

        .content-badge-name {
            margin: 0 1rem;
        }
    }
}
