html {
  background-color: #1c1c1c;
}

html h1 {
  font-size: 5rem;
}

html h2 {
  font-size: 3rem;
}

html h3 {
  font-size: 2rem;
}

html h4 {
  font-size: 1.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #d3dbe9;
  background-color: #1c1c1c;
  width: 100%;
  height: 100%;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

body .is-uppercase {
  text-transform: uppercase !important;
}

body .is-spaced {
  letter-spacing: 4px;
}

body .is-bold {
  font-weight: 700 !important;
}

.navbar {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: rgba(28, 28, 28, 0.3) !important;
  padding: 1.5rem 0 1.5rem 0;
}

.navbar.scrolled {
  background-color: #1c1c1c !important;
  padding: 0.5rem 1rem;
}

.navbar.scrolled .container .navbar-brand img {
  width: 38.5px;
  height: 35.6px;
}

.navbar .container .navbar-brand img {
  width: 50px;
  height: 46px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item {
  padding: .5rem .75rem;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.content .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.content .hero.header .title {
  color: white;
  font-size: 9rem;
  font-weight: 900;
  line-height: 8.5rem;
  word-spacing: 100vw;
  text-shadow: 0 0 2px #000000;
}

.content .hero.is-light {
  background-color: white;
  color: black;
}

.content .hero.is-light .title {
  color: black;
}

.content .hero.is-fullheight {
  min-height: 100vh;
}

.content .hero.is-fullheight .hero-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .hero.is-large .hero-body {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.content .hero.is-medium .hero-body {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.content .hero.header {
  background: url(../img/adam4.png) 50% 0 no-repeat fixed;
  background-size: cover;
}

.content .hero .hero-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content .hero .hero-body .section-title {
  text-align: center;
  margin-bottom: 7rem;
}

.content .title {
  color: white;
  font-weight: 900;
}

.content .title .page-title {
  margin-bottom: 3rem;
}

.content .subtitle {
  margin-bottom: 1.5rem;
  line-height: 1.25;
}

.content .subtitle.page-title {
  color: #e52628;
  font-size: .74rem;
  font-weight: 900;
  letter-spacing: 4px;
}

.content .social-badge-list {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
}

.content .social-badge-list .social-badge {
  font-size: 2rem;
  float: left;
  margin: 0 2rem 0 2rem;
}

.content .social-badge-list .social-badge a {
  color: #d3dbe9;
}

.content .social-badge-list .social-badge.badge-github a:hover {
  color: #c9510c;
}

.content .social-badge-list .social-badge.badge-twitter a:hover {
  color: #38A1F3;
}

.content .social-badge-list .social-badge.badge-discord a:hover {
  color: #7289da;
}

.content .social-badge-list .social-badge.badge-mail a:hover {
  color: #57C470;
}

.project-col {
  height: 450px;
  width: 100%;
  margin-bottom: 30px;
}

.project-col .project {
  height: 100%;
  width: 100%;
}

.project-col .project a {
  height: 100%;
  width: 100%;
  outline: none;
  text-decoration: none;
}

.project-col .project a .project-thumbnail {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.project-col .project a .project-thumbnail .project-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-col .project a .project-thumbnail .project-overlay:hover {
  background: rgba(0, 0, 0, 0.35);
}

.project-col .project a .project-thumbnail .project-overlay:hover .project-info {
  color: white;
}

.project-col .project a .project-thumbnail .project-overlay .project-badge-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-filter: drop-shadow(5px 5px 10px black);
          filter: drop-shadow(5px 5px 10px black);
}

.project-col .project a .project-thumbnail .project-overlay .project-badge-wrapper .project-badge {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  text-shadow: 0 0 2px black;
  color: white;
  text-align: left;
  margin: 0;
}

.project-col .project a .project-thumbnail .project-overlay .project-badge-wrapper .project-badge.type-game {
  background-color: #397edd;
}

.project-col .project a .project-thumbnail .project-overlay .project-badge-wrapper .project-badge.type-software {
  background-color: #c9510c;
}

.project-col .project a .project-thumbnail .project-overlay .project-badge-wrapper .project-badge.type-other {
  background-color: #a153d6;
}

.project-col .project a .project-thumbnail .project-overlay .project-badge-wrapper .project-badge .project-badge-name {
  margin: 0 2rem 0 .5rem;
}

.project-col .project a .project-thumbnail .project-overlay .project-info {
  position: absolute;
  bottom: 0;
  color: rgba(0, 0, 0, 0);
  margin: 0 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.developer-card {
  height: 400px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  color: black;
}

.developer-card a {
  height: 100%;
  width: 100%;
  outline: none;
  text-decoration: none;
}

.developer-card a .developer-thumbnail {
  height: 60%;
  width: 100%;
  background: url(../img/avatar.png);
  background-size: cover;
}

.developer-card .developer-info {
  text-align: center;
  background: white;
}

.developer-card .developer-info .developer-social {
  list-style: none;
  padding: 0;
}

.developer-card .developer-info .developer-social li {
  display: inline-block;
  font-size: 2rem;
  margin: 0 .5rem 0 .5rem;
}

.developer-card .developer-info .developer-social li a {
  color: black;
}

.post {
  width: 100%;
  height: 350px;
}

.post a {
  width: 100%;
  height: 100%;
}

.post a:hover .post-thumbnail {
  background-position: 50% 90%;
}

.post a .post-thumbnail {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 20%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.post a .post-thumbnail .post-overlay {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.35);
}

.post a .post-thumbnail .post-overlay .post-info-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post a .post-thumbnail .post-overlay .post-info-wrapper .post-info {
  width: 100%;
  text-align: center;
}

.content-badge-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-filter: drop-shadow(5px 5px 10px black);
          filter: drop-shadow(5px 5px 10px black);
}

.content-badge-wrapper .content-badge {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 2px black;
  color: white;
  text-align: left;
  margin: 0;
}

.content-badge-wrapper .content-badge.type-game {
  background-color: #397edd;
}

.content-badge-wrapper .content-badge.type-software {
  background-color: #c9510c;
}

.content-badge-wrapper .content-badge.type-other {
  background-color: #a153d6;
}

.content-badge-wrapper .content-badge .content-badge-name {
  margin: 0 2rem 0 .5rem;
}
/*# sourceMappingURL=main.css.map */